# Node / Next.js
node_modules/
.next/
out/

# Ambiente
.env
.env.local
.env.*

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Python (você tem isso no projeto)
.venv/
__pycache__/

# Build / cache
dist/
.cache/
coverage/